In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df_orig = pd.read_csv('../../final_project.csv')
df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 51 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   x0      159974 non-null  float64
 1   x1      159975 non-null  float64
 2   x2      159962 non-null  float64
 3   x3      159963 non-null  float64
 4   x4      159974 non-null  float64
 5   x5      159963 non-null  float64
 6   x6      159974 non-null  float64
 7   x7      159973 non-null  float64
 8   x8      159979 non-null  float64
 9   x9      159970 non-null  float64
 10  x10     159957 non-null  float64
 11  x11     159970 non-null  float64
 12  x12     159964 non-null  float64
 13  x13     159969 non-null  float64
 14  x14     159966 non-null  float64
 15  x15     159965 non-null  float64
 16  x16     159974 non-null  float64
 17  x17     159973 non-null  float64
 18  x18     159960 non-null  float64
 19  x19     159965 non-null  float64
 20  x20     159962 non-null  float64
 21  x21     159971 non-null  float64
 22  x22     159973 non-null  float64
 23  x23     159953 non-null  float64
 24  x24     159972 non-null  object
 25  x25     159978 non-null  float64
 26  x26     159964 non-null  float64
 27  x27     159970 non-null  float64
 28  x28     159965 non-null  float64
 29  x29     159970 non-null  object
 30  x30     159970 non-null  object
 31  x31     159961 non-null  float64
 32  x32     159969 non-null  object
 33  x33     159959 non-null  float64
 34  x34     159959 non-null  float64
 35  x35     159970 non-null  float64
 36  x36     159973 non-null  float64
 37  x37     159977 non-null  object
 38  x38     159969 non-null  float64
 39  x39     159977 non-null  float64
 40  x40     159964 non-null  float64
 41  x41     159960 non-null  float64
 42  x42     159974 non-null  float64
 43  x43     159963 non-null  float64
 44  x44     159960 non-null  float64
 45  x45     159971 non-null  float64
 46  x46     159969 non-null  float64
 47  x47     159963 non-null  float64
 48  x48     159968 non-null  float64
 49  x49     159968 non-null  float64
 50  y       160000 non-null  int64
dtypes: float64(45), int64(1), object(5)
memory usage: 62.3+ MB

In [3]:
df = df_orig.copy()

# Fixing Numeric columns that imported as string
df['x32'] = df['x32'].replace('[\%,]', '', regex=True).astype(float)/100
df['x37'] = df['x37'].replace('[\$,]', '', regex=True).astype(float)
df['x29'] = df['x29'].replace('Dev', 'Dec', regex=True)
df['x29'] = df['x29'].replace('July', 'Jul', regex=True)
df['x29'] = df['x29'].replace('January', 'Jan', regex=True)
df['x29'] = df['x29'].replace('sept.', 'Sep', regex=True)

# Impute missing numeric
numb = df.select_dtypes(include='number').columns
df[numb] = df[numb].fillna(df[numb].median().to_dict())

# Impute Missing categorical
cats = df.select_dtypes(include='object').columns
df[cats] = df[cats].fillna(df_orig[cats].mode().to_dict(orient='records')[0])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 51 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   x0      160000 non-null  float64
 1   x1      160000 non-null  float64
 2   x2      160000 non-null  float64
 3   x3      160000 non-null  float64
 4   x4      160000 non-null  float64
 5   x5      160000 non-null  float64
 6   x6      160000 non-null  float64
 7   x7      160000 non-null  float64
 8   x8      160000 non-null  float64
 9   x9      160000 non-null  float64
 10  x10     160000 non-null  float64
 11  x11     160000 non-null  float64
 12  x12     160000 non-null  float64
 13  x13     160000 non-null  float64
 14  x14     160000 non-null  float64
 15  x15     160000 non-null  float64
 16  x16     160000 non-null  float64
 17  x17     160000 non-null  float64
 18  x18     160000 non-null  float64
 19  x19     160000 non-null  float64
 20  x20     160000 non-null  float64
 21  x21     160000 non-null  float64
 22  x22     160000 non-null  float64
 23  x23     160000 non-null  float64
 24  x24     160000 non-null  object
 25  x25     160000 non-null  float64
 26  x26     160000 non-null  float64
 27  x27     160000 non-null  float64
 28  x28     160000 non-null  float64
 29  x29     160000 non-null  object
 30  x30     160000 non-null  object
 31  x31     160000 non-null  float64
 32  x32     160000 non-null  float64
 33  x33     160000 non-null  float64
 34  x34     160000 non-null  float64
 35  x35     160000 non-null  float64
 36  x36     160000 non-null  float64
 37  x37     160000 non-null  float64
 38  x38     160000 non-null  float64
 39  x39     160000 non-null  float64
 40  x40     160000 non-null  float64
 41  x41     160000 non-null  float64
 42  x42     160000 non-null  float64
 43  x43     160000 non-null  float64
 44  x44     160000 non-null  float64
 45  x45     160000 non-null  float64
 46  x46     160000 non-null  float64
 47  x47     160000 non-null  float64
 48  x48     160000 non-null  float64
 49  x49     160000 non-null  float64
 50  y       160000 non-null  int64
dtypes: float64(47), int64(1), object(3)
memory usage: 62.3+ MB

In [4]:
def transform_data(data):
    #OH encode
    label_encode = data.select_dtypes(include='object').columns
    normalize = data.select_dtypes(include='number').columns

    data_OHE = pd.get_dummies(data, columns=label_encode)
    
    #Standardize the variables
    scaler = StandardScaler()
    data_OHE[normalize] = scaler.fit_transform(data_OHE[normalize])
 
    return data_OHE

In [5]:
# OHE and Scale
df_model_ready = transform_data(df)
df_model_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 69 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   x0             160000 non-null  float64
 1   x1             160000 non-null  float64
 2   x2             160000 non-null  float64
 3   x3             160000 non-null  float64
 4   x4             160000 non-null  float64
 5   x5             160000 non-null  float64
 6   x6             160000 non-null  float64
 7   x7             160000 non-null  float64
 8   x8             160000 non-null  float64
 9   x9             160000 non-null  float64
 10  x10            160000 non-null  float64
 11  x11            160000 non-null  float64
 12  x12            160000 non-null  float64
 13  x13            160000 non-null  float64
 14  x14            160000 non-null  float64
 15  x15            160000 non-null  float64
 16  x16            160000 non-null  float64
 17  x17            160000 non-null  float64
 18  x18            160000 non-null  float64
 19  x19            160000 non-null  float64
 20  x20            160000 non-null  float64
 21  x21            160000 non-null  float64
 22  x22            160000 non-null  float64
 23  x23            160000 non-null  float64
 24  x25            160000 non-null  float64
 25  x26            160000 non-null  float64
 26  x27            160000 non-null  float64
 27  x28            160000 non-null  float64
 28  x31            160000 non-null  float64
 29  x32            160000 non-null  float64
 30  x33            160000 non-null  float64
 31  x34            160000 non-null  float64
 32  x35            160000 non-null  float64
 33  x36            160000 non-null  float64
 34  x37            160000 non-null  float64
 35  x38            160000 non-null  float64
 36  x39            160000 non-null  float64
 37  x40            160000 non-null  float64
 38  x41            160000 non-null  float64
 39  x42            160000 non-null  float64
 40  x43            160000 non-null  float64
 41  x44            160000 non-null  float64
 42  x45            160000 non-null  float64
 43  x46            160000 non-null  float64
 44  x47            160000 non-null  float64
 45  x48            160000 non-null  float64
 46  x49            160000 non-null  float64
 47  y              160000 non-null  float64
 48  x24_america    160000 non-null  uint8
 49  x24_asia       160000 non-null  uint8
 50  x24_euorpe     160000 non-null  uint8
 51  x29_Apr        160000 non-null  uint8
 52  x29_Aug        160000 non-null  uint8
 53  x29_Dec        160000 non-null  uint8
 54  x29_Feb        160000 non-null  uint8
 55  x29_Jan        160000 non-null  uint8
 56  x29_Jul        160000 non-null  uint8
 57  x29_July       160000 non-null  uint8
 58  x29_Jun        160000 non-null  uint8
 59  x29_Mar        160000 non-null  uint8
 60  x29_May        160000 non-null  uint8
 61  x29_Nov        160000 non-null  uint8
 62  x29_Oct        160000 non-null  uint8
 63  x29_Sep        160000 non-null  uint8
 64  x30_friday     160000 non-null  uint8
 65  x30_monday     160000 non-null  uint8
 66  x30_thurday    160000 non-null  uint8
 67  x30_tuesday    160000 non-null  uint8
 68  x30_wednesday  160000 non-null  uint8
dtypes: float64(48), uint8(21)
memory usage: 61.8 MB