In [1]:
import numpy as np
import pandas as pd
import pandas_profiling

In [2]:
df = pd.read_csv('../../final_project.csv')

In [3]:
df.isnull().values.any()

True

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 51 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   x0      159974 non-null  float64
 1   x1      159975 non-null  float64
 2   x2      159962 non-null  float64
 3   x3      159963 non-null  float64
 4   x4      159974 non-null  float64
 5   x5      159963 non-null  float64
 6   x6      159974 non-null  float64
 7   x7      159973 non-null  float64
 8   x8      159979 non-null  float64
 9   x9      159970 non-null  float64
 10  x10     159957 non-null  float64
 11  x11     159970 non-null  float64
 12  x12     159964 non-null  float64
 13  x13     159969 non-null  float64
 14  x14     159966 non-null  float64
 15  x15     159965 non-null  float64
 16  x16     159974 non-null  float64
 17  x17     159973 non-null  float64
 18  x18     159960 non-null  float64
 19  x19     159965 non-null  float64
 20  x20     159962 non-null  float64
 21  x21     159971 non-null  float64
 22  x22     159973 non-null  float64
 23  x23     159953 non-null  float64
 24  x24     159972 non-null  object
 25  x25     159978 non-null  float64
 26  x26     159964 non-null  float64
 27  x27     159970 non-null  float64
 28  x28     159965 non-null  float64
 29  x29     159970 non-null  object
 30  x30     159970 non-null  object
 31  x31     159961 non-null  float64
 32  x32     159969 non-null  object
 33  x33     159959 non-null  float64
 34  x34     159959 non-null  float64
 35  x35     159970 non-null  float64
 36  x36     159973 non-null  float64
 37  x37     159977 non-null  object
 38  x38     159969 non-null  float64
 39  x39     159977 non-null  float64
 40  x40     159964 non-null  float64
 41  x41     159960 non-null  float64
 42  x42     159974 non-null  float64
 43  x43     159963 non-null  float64
 44  x44     159960 non-null  float64
 45  x45     159971 non-null  float64
 46  x46     159969 non-null  float64
 47  x47     159963 non-null  float64
 48  x48     159968 non-null  float64
 49  x49     159968 non-null  float64
 50  y       160000 non-null  int64
dtypes: float64(45), int64(1), object(5)
memory usage: 62.3+ MB

In [11]:
profile = df.profile_report(title="Final Jeopardy",pool_size=4)
profile.to_file("final_jeopardy.html")

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=65.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

In [ ]:
## Type Issues
#x32 numeric as categorical
#x37 numeric as categorical

In [8]:
df.x32

0           0.0%
1         -0.02%
2         -0.01%
3          0.01%
4          0.01%
           ...
159995      0.0%
159996    -0.01%
159997     -0.0%
159998    -0.02%
159999     0.02%
Name: x32, Length: 160000, dtype: object

In [7]:
df['x37a'] = df['x37'].replace('[\$,]', '', regex=True).astype(float)
df[['x37','x37a']]

              x37     x37a
0        $1313.96  1313.96
1        $1962.78  1962.78
2         $430.47   430.47
3       $-2366.29 -2366.29
4        $-620.66  -620.66
...           ...      ...
159995   $-891.96  -891.96
159996   $1588.65  1588.65
159997    $687.46   687.46
159998    $439.21   439.21
159999  $-1229.34 -1229.34

[160000 rows x 2 columns]

In [10]:
df['x32a'] = df['x32'].replace('[\%,]', '', regex=True).astype(float)/100
df[['x32','x32a']]

           x32    x32a
0         0.0%  0.0000
1       -0.02% -0.0002
2       -0.01% -0.0001
3        0.01%  0.0001
4        0.01%  0.0001
...        ...     ...
159995    0.0%  0.0000
159996  -0.01% -0.0001
159997   -0.0% -0.0000
159998  -0.02% -0.0002
159999   0.02%  0.0002

[160000 rows x 2 columns]