# Week 8 Bank Data Case Study

## Load Packages

In [1]:
import pandas as pd
import numpy as np

## Read the Data

In this section we read in the data.

In [2]:
df = pd.read_csv("../Data/case_8.csv")
df.head()

,ID,target,v1,v2,v3,v4,v5,v6,v7,v8,...,v122,v123,v124,v125,v126,v127,v128,v129,v130,v131
0,3,1,1.335739,8.727474,C,3.921026,7.915266,2.599278,3.176895,0.012941,...,8.000000,1.989780,0.035754,AU,1.804126,3.113719,2.024285,0,0.636365,2.857144
1,4,1,1.630686,7.464411,C,4.145098,9.191265,2.436402,2.483921,2.301630,...,6.822439,3.549938,0.598896,AF,1.672658,3.239542,1.957825,0,1.925763,1.739389
2,5,1,0.943877,5.310079,C,4.410969,5.326159,3.979592,3.928571,0.019645,...,9.333333,2.477596,0.013452,AE,1.773709,3.922193,1.120468,2,0.883118,1.176472
3,6,1,0.797415,8.304757,C,4.225930,11.627438,2.097700,1.987549,0.171947,...,7.018256,1.812795,0.002267,CJ,1.415230,2.954381,1.990847,1,1.677108,1.034483
4,8,1,1.630686,7.464411,C,4.145098,8.742359,2.436402,2.483921,1.496569,...,6.822439,3.549938,0.919812,Z,1.672658,3.239542,2.030373,0,1.925763,1.739389

No obvious issues like parsing errors or missings. Lets see what we have for data types.

In [3]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114321 entries, 0 to 114320
Data columns (total 133 columns):
 #   Column  Dtype
---  ------  -----
 0   ID      int64
 1   target  int64
 2   v1      float64
 3   v2      float64
 4   v3      object
 5   v4      float64
 6   v5      float64
 7   v6      float64
 8   v7      float64
 9   v8      float64
 10  v9      float64
 11  v10     float64
 12  v11     float64
 13  v12     float64
 14  v13     float64
 15  v14     float64
 16  v15     float64
 17  v16     float64
 18  v17     float64
 19  v18     float64
 20  v19     float64
 21  v20     float64
 22  v21     float64
 23  v22     object
 24  v23     float64
 25  v24     object
 26  v25     float64
 27  v26     float64
 28  v27     float64
 29  v28     float64
 30  v29     float64
 31  v30     object
 32  v31     object
 33  v32     float64
 34  v33     float64
 35  v34     float64
 36  v35     float64
 37  v36     float64
 38  v37     float64
 39  v38     int64
 40  v39     float64
 41  v40     float64
 42  v41     float64
 43  v42     float64
 44  v43     float64
 45  v44     float64
 46  v45     float64
 47  v46     float64
 48  v47     object
 49  v48     float64
 50  v49     float64
 51  v50     float64
 52  v51     float64
 53  v52     object
 54  v53     float64
 55  v54     float64
 56  v55     float64
 57  v56     object
 58  v57     float64
 59  v58     float64
 60  v59     float64
 61  v60     float64
 62  v61     float64
 63  v62     int64
 64  v63     float64
 65  v64     float64
 66  v65     float64
 67  v66     object
 68  v67     float64
 69  v68     float64
 70  v69     float64
 71  v70     float64
 72  v71     object
 73  v72     int64
 74  v73     float64
 75  v74     object
 76  v75     object
 77  v76     float64
 78  v77     float64
 79  v78     float64
 80  v79     object
 81  v80     float64
 82  v81     float64
 83  v82     float64
 84  v83     float64
 85  v84     float64
 86  v85     float64
 87  v86     float64
 88  v87     float64
 89  v88     float64
 90  v89     float64
 91  v90     float64
 92  v91     object
 93  v92     float64
 94  v93     float64
 95  v94     float64
 96  v95     float64
 97  v96     float64
 98  v97     float64
 99  v98     float64
 100 v99     float64
 101 v100    float64
 102 v101    float64
 103 v102    float64
 104 v103    float64
 105 v104    float64
 106 v105    float64
 107 v106    float64
 108 v107    object
 109 v108    float64
 110 v109    float64
 111 v110    object
 112 v111    float64
 113 v112    object
 114 v113    object
 115 v114    float64
 116 v115    float64
 117 v116    float64
 118 v117    float64
 119 v118    float64
 120 v119    float64
 121 v120    float64
 122 v121    float64
 123 v122    float64
 124 v123    float64
 125 v124    float64
 126 v125    object
 127 v126    float64
 128 v127    float64
 129 v128    float64
 130 v129    int64
 131 v130    float64
 132 v131    float64
dtypes: float64(108), int64(6), object(19)
memory usage: 116.0+ MB

We see mostly floats. There are some object data types we should probably recast. We have 114K observations, plenty to work with.  No variable names, as expected. He said there are no missings but lets check anyway.

In [7]:
df.isnull().values.any()

False

Fine. He told the truth. How about that target variable

In [12]:
counts = df.target.value_counts()
print(counts)
print(round(counts[0]/sum(counts),4))

1    87021
0    27300
Name: target, dtype: int64
0.2388

The target is binary and a little unbalanced, but not terrible.

## Data Cleaning

boring

In [ ]:
#data['minimum_nights'] = data['minimum_nights'].astype('float')

## EDA

boring

## Modeling Prep

In [14]:
def transform_data(data):
    #OH encode
    label_encode = [
        x for x, y in dict(data.dtypes).items()
        if type(y) == pd.CategoricalDtype
    ]
    for var in label_encode:
        #impute to Mode
        print(f"{var} was OHE'd")
        data[var].fillna(data[var].mode()[0], inplace=True)
        cat_list = pd.get_dummies(data[var], prefix=var)
        data_new = data.join(cat_list)
        data = data_new

    normalize = [x for x, y in dict(data.dtypes).items() if y == np.float64]
    for col in normalize:
        #change impution scheme?
        print(f"{col} was Standard Scaled")
        data[col].fillna(data[col].median(), inplace=True)
        normalizer = StandardScaler()
        ar_train = data[col].to_numpy().reshape(-1, 1)
        normalizer.fit(ar_train)
        data.loc[:, col] = normalizer.transform(ar_train)
    
    data.drop(columns=label_encode, inplace=True)
    #data.drop(columns=target_col, inplace=True)
    
    return data

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss, accuracy_score #https://scikit-learn.org/stable/modules/model_evaluation.html

In [ ]:
cv = StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=42)

In [ ]:
n_estimators= list(range(80, 110, 10))
max_features = list(range(6, len(features_xform.columns), 5))
min_samples_split = list(range(500, 701, 100))
min_samples_leaf = [10, 20]
print(f'n_estimator_grid_search:{n_estimators}')
print(f'max_features_grid_search:{max_features}')
print(f'min_samples_split_grid_search:{min_samples_split}')
print(f'min_samples_leaf_grid_search:{min_samples_leaf}')
scoring = {
            'Accuracy':'accuracy'
            , 'F-1 Score':'f1'
            , 'Log Loss':'log_loss'}

## Random Forest
https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X, y)